* {
	font-family: 'Roboto', sans-serif;
	word-break: break-word;
}
:root {
	--primary-color: hsl(251, 92%, 58%);
	--primary-color-darker: hsl(251, 92%, 62%);
	/* Recommend 4% lighter */
	--primary-color-darkest: hsl(251, 92%, 66%);
	/* Recommend 8% lighter */
	--primary-color-text: hsl(0, 0%, 98%);
	--secondary-color: hsl(0, 0%, 98%);
	--secondary-color-darker: hsl(0, 0%, 94%);
	/* Recommend 4% darker */
	--secondary-color-darkest: hsl(0, 0%, 90%);
	/* Recommend 8% darker */
	--secondary-color-text: hsl(251, 92%, 58%);
	--border-color: hsl(220, 9%, 87%);
	--text-color: hsl(225, 6%, 13%);
	--text-color-hint: hsl(0, 0%, 50%);
	--link-color: hsl(251, 92%, 58%);
	--bg-color: hsl(0, 0%, 90%);
	--action-bg-color: hsl(0, 0%, 98%);
	--color-success: hsl(137, 66%, 30%);
	--color-success-border: hsl(137, 57%, 41%);
}
.dark {
	--primary-color: hsl(240, 0%, 48%);
	--primary-color-darker: hsl(240, 0%, 52%);
	/* Recommend 6% lighter */
	--primary-color-darkest: hsl(240, 0%, 56%);
	/* Recommend 12% lighter */
	--primary-color-text: hsl(0, 0%, 99%);
	--secondary-color: hsl(240, 1%, 22%);
	--secondary-color-darker: hsl(240, 1%, 26%);
	/* Recommend 4% lighter */
	--secondary-color-darkest: hsl(240, 1%, 30%);
	/* Recommend 8% lighter */
	--secondary-color-text: hsl(0, 0%, 77%);
	--border-color: hsl(220, 9%, 30%);
	--text-color: hsl(225, 6%, 87%);
	--text-color-hint: hsl(0, 0%, 77%);
	--link-color: hhsl(0, 0%, 77%);
	--bg-color: hsl(220, 6%, 10%);
	--action-bg-color: hsl(0, 0%, 20%);
	--color-success: hsl(122, 33%, 51%);
	--color-success-border: hsl(124, 41%, 35%);
}
body {
	background: var(--bg-color);
	color: var(--text-color);
}
.button-primary {
	width: fit-content;
	padding: 0.75rem 2rem 0.75rem 2rem;
	border: 0;
	border-radius: 5px;
	background-color: var(--primary-color);
	color: var(--primary-color-text);
	font-weight: bold;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 50ms linear;
}
.button-primary:hover {
	background-color: var(--primary-color-darker);
}
.button-primary:active {
	background-color: var(--primary-color-darkest);
}
.button-secondary {
	width: fit-content;
	padding: 0.75rem 1.5rem 0.75rem 1.5rem;
	border: 0;
	border-radius: 5px;
	background-color: var(--secondary-color);
	color: var(--secondary-color-text);
	font-weight: bold;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 50ms linear;
}
.button-secondary:hover {
	background-color: var(--secondary-color-darker);
}
.button-secondary:active {
	background-color: var(--secondary-color-darkest);
}
.login-form, .extended-form {
	background-color: var(--action-bg-color);
	text-align: center;
	padding: 1.5em;
}
@media (min-width: 651px) {
	.login-form {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10vh;
		border-radius: 10px;
	}
}
@media (max-width: 650px) {
	.login-form {
		position: absolute;
		top: 0;
		left: 0;
		width: 99%;
		padding: 0;
		margin: auto;
	}
	body {
		background: var(--action-bg-color);
	}
	.button-primary, .button-secondary {
		margin-top: 1em;
		width: 100%;
	}
}
@media (min-width: 851px) {
	.extended-form {
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10vh;
		border-radius: 10px;
	}
}
@media (max-width: 850px) {
	.extended-form {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		padding: 0;
		margin: auto;
	}
	 .extended-form .button-primary, .extended-form .button-secondary {
		margin-top: 1em;
		width: 100%;
	}
}
.thin-text {
	font-weight: 300;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.text-input {
	padding: 0.5em;
	font-size: 1.5em;
	border: 0;
	border-bottom: 1px solid var(--border-color);
	transition: border 100ms ease-out;
	padding-left: 2em;
	background: rgba(255, 255, 255, 0);
	color: var(--text-color);
}
.text-input:-webkit-autofill, .text-input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}
.text-input[data-autocompleted] {
	background-color: transparent !important;
}
.text-input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}
.text-input[type=number]::-webkit-inner-spin-button, .text-input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
.text-input:focus {
	outline: none;
	border-bottom: 1px solid var(--primary-color);
}
.full-width {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
.half-width {
	width: 50%;
}
.max-width {
	width: 100%;
}
.no-mrg-bottom {
	margin-bottom: 0;
}
.no-padding-bottom {
	padding-bottom: 0;
}
.no-mrg-top {
	margin-top: 0;
}
.no-padding-top {
	padding-top: 0;
}
a, .a-element {
	color: var(--link-color);
	text-decoration: none;
	font-weight: bold;
	transition: color 50ms linear;
}
a, .a-element:hover {
	cursor: pointer;
}
.float-right {
	float: right;
}
.padding-1em {
	padding: 1em;
}
.padding-1rem{
	padding: 1rem;
}
.margin-top-1em{
	margin-top: 1em;
}
.sep-line {
	width: 100%;
	height: 1px;
	background-color: var(--border-color);
}
.icon {
	position: absolute;
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-left: 0.5em;
	color: var(--primary-color);
}
.input-placeholder {
	position: absolute;
	font-size: 1.5em;
	color: var(--text-color-hint);
	padding: 0.5em;
	padding-left: 2em;
	pointer-events: none;
	transition: transform 250ms ease-in-out;
}
.hint-text {
	color: var(--text-color-hint);
}
.placeholder-upper {
	padding-top: 0;
	padding-left: 3em;
	font-size: 1em;
	transform: translateY(-0.5em);
}
.hidden-el {
	display: none;
}
img {
	max-width: 70vw;
	max-height: 70vw;
}
.verify_mark {
	padding: 0 10px 0 10px;
	border-radius: 2em;
	border: 1px solid var(--color-success-border);
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	padding-top: 2px;
	padding-bottom: 2px;
	color: var(--color-success);
	background-color: rgba(45, 164, 78, 0.09);
}
.sidebar {
	top: 0;
	left: 0;
	position: absolute;
	width: 25vw;
	background-color: var(--bg-color);
	min-height: 100vh;
}
.content-body {
	padding-left: 1vw;
	top: 0;
	left: 0;
	position: absolute;
	width: 74vw;
	margin-left: 25vw;
	background-color: var(--bg-color);
	overflow: auto;
}
.menu-item {
	margin: auto;
	width: 60%;
	border-radius: 0.5em;
	background-color: var(--bg-color);
	margin-bottom: 1.5em;
}
.menu-item:hover {
	cursor: pointer;
	transition: background-color 200ms;
	background-color: var(--action-bg-color);
}
.content-icon {
	font-size: 1.5em;
	margin-right: 0.5em;
	color: var(--primary-color);
}
.content {
	overflow: auto;
}
.content::-webkit-scrollbar {
	display: none;
}
.content-body::-webkit-scrollbar {
	display: none;
}
body::-webkit-scrollbar {
	display: none;
}
.middle-text {
	font-size: 1.25em;
}
.big-text {
	font-size: 2em;
}
.header {
	padding-top: 1.34em;
	padding-bottom: 1.34em;
}
.user-overview {
	padding: 1.5em;
	border-radius: 1em;
	background-color: var(--action-bg-color);
	max-width: 75%;
	width: fit-content;
	word-break: break-all;
}
.data-container {
	max-width: 90%;
	width: fit-content;
}
.container{
	max-height: 50vh;
	min-height: 5em;
	overflow: auto;
}
.container::-webkit-scrollbar {
	display: none;
}
.data-prompt {
	width: 75%;
	margin: auto;
	border-radius: 1em;
	background-color: var(--action-bg-color);
}
.dark input::-webkit-calendar-picker-indicator {
	filter: invert(1);
}
.top-margin {
	margin-top: 3em;
}
.overlap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.full-screen {
	border: 0px;
	width: 100%;
	height: 100%;
}
@media (max-width: 800px) {
	body {
		margin: 0;
	}
	.sidebar {
		display: none;
		width: 100vw;
		z-index: 1;
	}
	.content-body {
		width: 94vw;
		margin: 0;
		padding-left: 3vw;
		padding-right: 3vw;
		height: 100%;
	}
	.data-container {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
	.data-prompt {
		width: 80%;
	}
	.header {
		text-align: center;
	}
}